.header {
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    margin-left: 60px;
    margin-top:20px;
    width: 60%;
}

.header p{
    font-size:80%;
    margin: 0px;
    line-height: 1.5;
}

.navigation { 
    display:flex;
    flex-wrap: nowrap;
    background-color: none;
    margin:10px 0 0 10px;
    align-items: flex-start;
    flex-direction: column;
}

.navigation h2 {
    margin-bottom: 20px;   
}

aside img {
    position: absolute;
    top:30px;
    left:700px;
    max-width:300px;
    max-height:300px;
}

#first-deployed-application {
    margin:100px 0 100px 0;
    max-height: 600px;
    width: 600px;
    padding: 30px;
    border-style: solid;
    border-width: 2px;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

#first-deployed-application p {
    text-align: center;
}

#first-deployed-application a img {
    width:100%;
    max-height: 100%;
}

body main .flexbox-other-works {
    padding: 20px;
    background-color: lightgray;
    border-style: solid;
    border-radius: 5px;
    border-color: darkblue;
    width: 700px;
    height: 700px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

body main .flexbox-other-works span {
    font-weight: bold;
    font-size: 125%;
}

body main .flexbox-other-works div {
    margin: 10px; 
    padding: 20px;
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    max-width: 45%;
    max-height: 45%;
}

body main .flexbox-other-works div img {
    max-width:100%;
    max-height:100%;
}

footer { 
    background-color:none;
}

footer div {
    margin: 100px 0 100px 50px;
    line-height:1.5;
    font-size: 150%;
    margin-top: 20px;   
}

footer div ul li {
    list-style:square;
}

@media screen {
    
}